* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home_nav {
  padding: 30px 60px;
}

.ul {
  display: flex;
  gap: 0px 50px;
  justify-content: flex-end;
}

.item {
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
}

.home_hero {
  padding: 150px 150px;
  border-bottom: 1px solid black;
}

.items {
  font-size: 40px;
}

.items_p {
  font-size: 24px;
}

.home_header {
  padding: 100px 150px;
  background-color: gray;
  border-bottom: 1px solid black;
}

.h1 {
  font-size: 40px;
}

.p {
  font-size: 20px;
}

.home_hero2 {
  padding: 150px 150px;
}

.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

a{
  text-decoration: none;
  color: black;
  padding: 30px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
}